.local
.vscode
.ssh
.keras
.ipython
.ipynb_checkpoints
.pytest_cache
__pycache__
thorlabs_tsi_camera_python_sdk_package.zip
Scientific_Camera_Interfaces
outputs/
dlls/
bin/
raspberrypi
assets
final_versions
src/mkgif/images
